.bdiv{
    display: block;
    position: fixed;
    top:0px;
    left:0px;
    bottom: 0px;
    right:0px;
    z-index: 9999999;
    background: rgba(0,0,0,.5);
    display: none;
}
.signdiv{
    z-index:9999999 ;
    position: fixed;
    display: none;
    width: 385px;
    top:30%;
    left:40%;
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    overflow: hidden;
}
.signhead{
    padding: 15px;
    text-align: center;
    color: #f84e4e;
    border-bottom: 1px solid #eee;
}
.user{
    margin-top: 20px;
    margin-left: 5px;
}
.password{
    margin-left: 20px;
}
.signbutton{
    bottom:5px;
    left:20px;
    margin-right: 5px;
    position: relative;
}
.selfinfo{
    position: absolute;
    margin-top: 20px;
    left: 980px;
    width: 100px;
    height: 40x;
}
.selfimg{
    float: left;
    widows: 30px;
    height: 30px;
    margin-right: 10px;
    background: #333;

}
#table1{
    margin: auto;
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
}
.td{
    border: 1px solid black;
    text-align: center;
    font: 12px sans-serif;

}
#table1 caption{
    color:blue;

}
.td1{
    border: 1px solid black;
    text-align: center;
    color: #333;
}